{% extends "birds/base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<div class="page-content">
    <section class="mdl-grid">
        <div class="mdl-cell mdl-cell--5-col mdl-cell--1-offset-desktop">
        <div class="card-bird mdl-card mdl-shadow--3dp"> 
                <div class="mdl-card__title news-title">
                    <h2 class="mdl-card__title-text">Log into your Birding Book </h2>
                </div>
                <div class="mdl-card__supporting-text news-text">
                <img class="birding-sign-in-logo" src="https://www.iconexperience.com/_img/o_collection_png/green_dark_grey/512x512/plain/bird.png" alt="birding-logo"/>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>
</div>
</div>
</section>
</div>
{% endblock %}
