{% extends "birds/base.html" %}

{% block content %}

<!-- Firebase UI -->
<script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />

<div class="page-content">
    <section class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--1-offset-desktop mdl-cell--1-offset-tablet">
			<div id="firebaseui-auth-container"></div>
			<div class="mdl-card__supporting-text">
				Please review the <a href="{% url 'birds:about' %}#tos">Terms of Service</a> and <a href="{% url 'birds:about' %}#privacy-policy">Privacy Policy</a> before signing up.
			</div>
        </div>
    </section>
</div>

<script type="text/javascript">
jQuery(function($){
	// Initialize Firebase
	var config = {
		apiKey: "AIzaSyAyEUXCLWQDXNZ9XAoRb073AJtYDQAPUvk",
		authDomain: "the-birding-book.firebaseapp.com",
		databaseURL: "https://the-birding-book.firebaseio.com",
		storageBucket: "the-birding-book.appspot.com",
		messagingSenderId: "413864129915"
	};
	firebase.initializeApp(config);
	// FirebaseUI config.
	var uiConfig = {
		'callbacks': {
			'signInSuccess': function(currentUser, credential, redirectUrl) {
				console.log(currentUser.ld, credential);
				jQuery.ajax({
					url: "{% url 'birds:authuser' %}",
					data: {
						'idtoken': currentUser.ld,
						'csrfmiddlewaretoken': "{{ csrf_token }}"
					},
					type: "POST",
					dataType: "json",
					success: function(data) {
						if ( data.msg == "new_user" ){
							window.location = "{% url 'birds:setusername' %}";
						}else{
							window.location = "{% url 'birds:index' %}";
						}
					},
					error: function(jqXHR, textStatus, errorThrown){
						alert(textStatus);
					}
				});
				return false;
			}
        },
		'credentialHelper': firebaseui.auth.CredentialHelper.ACCOUNT_CHOOSER_COM,
		// Query parameter name for mode.
        'queryParameterForWidgetMode': 'mode',
        // Query parameter name for sign in success url.
        'queryParameterForSignInSuccessUrl': 'signInSuccessUrl',
        // Will use popup for IDP Providers sign-in flow instead of the default, redirect.
        'signInFlow': 'redirect',
		'signInSuccessUrl': "{% url 'birds:index' %}",
		'signInOptions': [
			// Leave the lines as is for the providers you want to offer your users.
			firebase.auth.GoogleAuthProvider.PROVIDER_ID,
			firebase.auth.FacebookAuthProvider.PROVIDER_ID,
			firebase.auth.TwitterAuthProvider.PROVIDER_ID,
			firebase.auth.GithubAuthProvider.PROVIDER_ID,
			firebase.auth.EmailAuthProvider.PROVIDER_ID
		],
		// Terms of service url.
		'tosUrl': "{% url 'birds:about' %}#tos"
	};

	// Initialize the FirebaseUI Widget using Firebase.
	var ui = new firebaseui.auth.AuthUI(firebase.auth());
	// The start method will wait until the DOM is loaded.
	ui.start('#firebaseui-auth-container', uiConfig);
});

</script>
{% endblock %}
