@import url("css/image_inspect.css");
@import url("css/maps.css");

html, body, h1, h2{
  font-family: 'Noto Sans', sans-serif;
}

html, body {
	height: 100%;
}

/*TABEL OF CONTENTS
===================*/

nav ul a:hover {
    background-color: rgba(0,0,0,0.1);
}

nav ul a {
  color: #005b97;
    transition: background-color .3s;
    font-size: 1rem;
    display: inline-block;
    padding: 0 15px;
}

.docs-toc li {
    font-size: 16px;
    list-style: none;
}
nav ul li {
    transition: background-color .3s;
    float: none;
    padding: 0;
}


.docs-toc ul {
    border-left: solid 3px #005b97;
    padding-left: 20px;
    line-height: 28px;
}

ol, ul {
    list-style: none;
}

section .table-of-contents{
    padding: 20px 0;
}
.section-content {
    height: 100%;
}

.section-content {
    color: #005b97;
    display: block;
    box-shadow: none;
}

.docs-toc .all-funds {
    margin-bottom: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
}
.docs-toc {
    margin-bottom: 2em;
    height: 100%;
    h3{
      font-size: 15px;
      padding-right: 60px;
      line-height: 25px;
      text-transform: none;
      color: rgba(0,0,0,.54);
      font-weight: 500;
      margin: 24px 0;
    }
}



.all-funds .RT-card__title-text {
    font-weight: 500;
    color: #adafb2;

}
.docs-toc li h3 {
    margin: 24px 0;
    font-size: 15px;
}
/*===================
TABEL OF CONTENTS END*/


/*Font attributes
=================*/
.mdl-card__title-text{
  font-weight: 700;
}
.uppercase{
    text-transform: uppercase;
}
.capitalize{
  text-transform: capitalize;
}
/*Font attributes END*/
/*TOOL TIP
.mdl-tooltip{
    will-change: inherit;
}*/

/*General MDL Grid*/
.mdl-grid {
	padding: 0px;
	width:100%;
}

@media (max-width: 479px){
	.mdl-grid {
		padding: 0px;
	}
	.mdl-cell {
		/*margin: 5px;
		margin-top: 5px;
		margin-bottom: 5px;*/
		width: 100%;
	}
	.mdl-cell--4-col-phone.mdl-cell--4-col-phone {
		width: 100%;
	}
	.full-width-card {
		margin: 0px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

@media (min-width: 840px) {
	.mdl-cell--12-col {
		width: calc(100%);
		margin: 0px;
	}
}
/*END*/






/*SIGN UP OR TAG*/
.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  font-size: 16px;
  margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}
/*==========*/



/*SUB IMAGE */

.sub-image{
  max-height: 100px;
}
/*==========*/






/*USER IDENTIY ADJUSTMENTS*/
.user-ident{
display: -webkit-flex;
    display: -ms-flexbox;
    /* display: flex; */
    /* -webkit-flex-flow: row wrap; */
    -ms-flex-flow: row wrap;
    /* flex-flow: row wrap; */
    margin: 0 auto;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
/*==========*/
/*HOVER CARD INSTRUCTIONS*/

.hover-card:hover {
    /*box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    -moz-transform: translate3d(0, -3px, 0) !important;
    -ms-transform: translate3d(0, -3px, 0) !important;
    -webkit-transform: translate3d(0, -3px, 0) !important;
    transform: translate3d(0, -3px, 0) !important;*/

    box-shadow: 0 0 3px rgba(0,0,0,.13),0 3px 6px rgba(0,0,0,.26);
}
/*==========*/

/* MAPS */

#view-sighting-map {
	margin: auto;
    width: 100%;
    height: 100%;
	min-height: 200px;
}

#editor_map {
    margin: auto;
    width: 100%;
    height: 400px;
}

#map {
    margin: auto;
    width: 100%;
    height: 400px;
}

/* END MAPS */

.card-bird {
  width: 100%;
}

.birding-sign-in-logo{
  height: 100px;
  margin-left: 4em;
  margin-bottom: 1em;
}
.login-error p{
color:#f44336;
}

/*IMAGES FOR BIRDS
//===============*/

.image {
  position: relative;
  width: 100%;
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);*/
}
/*IMAGES FOR BIRD SIGHTING PAGE
//===============*/
.sighting-page{
  height: 25em;
}

.sighting-page h4{
  top: 300px;
}

/*WARNING MESSAGE
//===============*/
.mdl-components__warning {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    background-color: #FFF9C4;
    padding: 16px;
    border-radius: 2px;
    color: #212121;
}

/* ADDED BY TIM */
.no-decoration {
	text-decoration:none;
}

.no-decoration:visited {
	color: initial;
}

.mdl-card__actions i {
	vertical-align: middle;
}

.mdl-card__supporting-text i {
	vertical-align: middle;
	}

/* 
SIGHTING GRID 
*/

.image-block-m {
  /*border: 3px solid white;*/
  position: relative;
  background-color: black;
  padding: 0px;
  margin: 0px;
  height: 300px;
  vertical-align: bottom;
  line-height: 1;
}
.image-block-m span {
  color: white;
  vertical-align: text-bottom;
}
.image-block-m h4 {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  margin-bottom: 16px;
}
.image-block-m h4 span {
  color: white;
  font: bold 24px/45px "Noto Sans", Helvetica, Sans-Serif;
  letter-spacing: -1px;
  /*background: rgba(0, 0, 0, 0.3);*/
  text-shadow: 2px 2px 4px #000000;
  padding: 10px;
}

.sighting-grid-no-image-description {
	width:auto;
	/*background: rgba(255,255,255,0.0);*/
	padding:0px 5px 0px 5px;
	
}
.sighting-grid-no-image-description hr {
	margin:auto;
}

.sighting-grid-image-description {
	color: rgba(255,255,255,0.95);
	/*background: rgba(255,255,255,0.0);*/
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(0,0,0,0.5); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.7)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.7)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.7)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.7)); /* Standard syntax (must be last) */
	padding-top:10px;
}

.sighting-grid-image-description hr {
	border-color: inherit;
	margin: 0px 5px;
}

.sighting-grid-image-description div {
	padding: 5px;
}

.sighting-grid-species-tag {
	font-size: 14px;
	line-height: 26px;
	text-align:right;
}

.sighting-grid-caption {
	font-weight:bold;
}

.edit-sighting-form > .mdl-textfield {
	width:100%;
}

/*
END SIGHTING GRID
*/


/*
VIEW SIGHTING PAGE
*/
.sighting-control-menu {
	color: rgba(255,255,255,1);
	text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
	background: rgba(0,0,0,0.3);
    border-radius: 3px;
    padding: 5px;
}

.sighting-control-menu > button > i{
	text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
}

@keyframes pulse { 
  40% { background-color: #ccc }
}

.pulsate_button {
  animation: pulse .8s ease-out 20;
}

/* 
END VIEW SIGHTING PAGE
*/

.mdl-button {
	overflow: visible;
}

/*
Notification Icon and Menu
*/
.notification-item {
	text-decoration: none;
}

/*
End Notification Section
*/

.mdl-menu__item .item-header {
	color: grey;
	line-height: 16px;
	font-size: 12px;
}

.mdl-menu__item .item-location {
	color: grey;
	line-height: 16px;
	font-size: 14px;
}

.mdl-menu__item .item-summary {
	color: black;
	line-height: 16px;
	font-size: 12px;
}

#post_text_wrapper {
	width: 100%;
}

.mdl-card {
	min-height: auto;
}

.image_inspect_dialog .ui-dialog-titlebar {
	display: none;
}

.mdl-textfield--expandable.is-focused, .mdl-textfield--expandable.is-dirty {
	width: 80%;
	max-width: 627px;
}

.mdl-textfield__expandable-holder {
	width: 90%;
}

/* END ADDED BY TIM */


/*.mdl-textfield {
  width: 100%;
}*/

.user-chip {
	background: rgba(0,0,0,0);
	margin:5px;
}

.badge-chips {
	background: rgba(0,0,0,0.10);
}

.mdl-chip__text {
	font-family: 'Noto Sans', sans-serif;
	color: rgba(0,0,0,.54);
    font-size: 1rem;
    line-height: 18px;
	font-weight: 500;
}

.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.mdl-layout__header .mdl-layout__drawer-button {
	color: rgba(0,0,0,0.70);
}

/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}
.demo-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  /*height: 151px;*/
}
.demo-avatar-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.demo-navigation {
  flex-grow: 1;
}
.demo-layout .demo-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

/*COMMENTS*/
.comments-chain {
    margin: 8px 0px 8px 8px;
    padding: 0px 16px 0px 0px;
    border-left: 5px solid rgb(255,64,129);
}
.comments-chain .mdl-card__supporting-text{
  padding: 8px 16px 8px 16px;
}
/*END*/

/* ICON SIZING */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
/* END ICON SIZING */
