@import url("css/image_inspect.css");
@import url("css/maps.css");

html, body, h1, h2{
  font-family: 'Noto Sans', sans-serif;
}

html, body {
	height: 100%;
}

/*TABEL OF CONTENTS
===================*/

nav ul a:hover {
    background-color: rgba(0,0,0,0.1);
}

nav ul a {
  color: #005b97;
    transition: background-color .3s;
    font-size: 1rem;
    display: inline-block;
    padding: 0 15px;
}

.docs-toc li {
    font-size: 16px;
    list-style: none;
}
nav ul li {
    transition: background-color .3s;
    float: none;
    padding: 0;
}


.docs-toc ul {
    border-left: solid 3px #005b97;
    padding-left: 20px;
    line-height: 28px;
}

ol, ul {
    list-style: none;
}

section .table-of-contents{
    padding: 20px 0;
}
.section-content {
    height: 100%;
}

.section-content {
    color: #005b97;
    display: block;
    box-shadow: none;
}

.docs-toc .all-funds {
    margin-bottom: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
}
.docs-toc {
    margin-bottom: 2em;
    height: 100%;
    h3{
      font-size: 15px;
      padding-right: 60px;
      line-height: 25px;
      text-transform: none;
      color: rgba(0,0,0,.54);
      font-weight: 500;
      margin: 24px 0;
    }
}



.all-funds .RT-card__title-text {
    font-weight: 500;
    color: #adafb2;

}
.docs-toc li h3 {
    margin: 24px 0;
    font-size: 15px;
}
/*===================
TABEL OF CONTENTS END*/


/*Font attributes
=================*/
.mdl-card__title-text{
  font-weight: 700;
}
.uppercase{
    text-transform: uppercase;
}
.capitalize{
  text-transform: capitalize;
}
/*Font attributes END*/
/*TOOL TIP
.mdl-tooltip{
    will-change: inherit;
}*/

/*General MDL Grid*/
.mdl-grid {
	padding: 0px;
}

@media (max-width: 479px){
	.mdl-grid {
		padding: 0px;
	}
	.mdl-cell {
		padding-top: 10px;
		margin: 0px;
		width: 100%;
	}
}
/*END*/






/*SIGN UP OR TAG*/
.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  font-size: 16px;
  margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}
/*==========*/



/*SUB IMAGE */

.sub-image{
  max-height: 100px;
}
/*==========*/




/*IMAGE INSPECT*/
.image-inspection{
  background-color: black;
}
/*=======*/

/*USER IDENTIY ADJUSTMENTS*/
.user-ident{
display: -webkit-flex;
    display: -ms-flexbox;
    /* display: flex; */
    /* -webkit-flex-flow: row wrap; */
    -ms-flex-flow: row wrap;
    /* flex-flow: row wrap; */
    margin: 0 auto;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
/*==========*/
/*HOVER CARD INSTRUCTIONS*/

.hover-card:hover {
    /*box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    -moz-transform: translate3d(0, -3px, 0) !important;
    -ms-transform: translate3d(0, -3px, 0) !important;
    -webkit-transform: translate3d(0, -3px, 0) !important;
    transform: translate3d(0, -3px, 0) !important;*/

    box-shadow: 0 0 3px rgba(0,0,0,.13),0 3px 6px rgba(0,0,0,.26);
}

.hover-card {
	margin-right: 5px;
	margin-bottom: 5px;
}
/*==========*/
#map {
    margin: auto;
    width:100%;
    height: 400px;
}

.card-bird {
  width: 100%;
}


.card-bird-full {
  height:300px;
 
} 

.card-bird-full img {
  height: 250px;
}
.card-bird-full .mdl-card__title{
  padding: 0px 0px 8px 16px;
  margin: 0px 0px 0px 0px;
}
.mdl-card__title-text{
   /*padding-bottom: 25px;*/
   color: black;
}


.mdl-card__supporting-text{

}

.birding-sign-in-logo{
  height: 100px;
  margin-left: 4em;
  margin-bottom: 1em;
}
.login-error p{
color:#f44336;
}

/*IMAGES FOR BIRDS
//===============*/
.image-block-m {
  /*border: 3px solid white;*/
  position: relative;
  background-color: black;
  padding: 0px;
  margin: 0px;
  height: 250px;
  vertical-align: bottom;
  line-height: 1;
}
.image-block-m{
  height: 250px;
}
.image-block-m span {
  color: white;
  vertical-align: text-bottom;
}
.image-block-m h4 {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  margin-bottom: 16px;
}
.image-block-m h4 span {
  color: white;
  font: bold 24px/45px "Noto Sans", Helvetica, Sans-Serif;
  letter-spacing: -1px;
  /*background: rgba(0, 0, 0, 0.3);*/
  text-shadow: 2px 2px 4px #000000;
  padding: 10px;
}

.image {
  position: relative;
  width: 100%;
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);*/
}
/*IMAGES FOR BIRD SIGHTING PAGE
//===============*/
.sighting-page{
  height: 25em;
}

.sighting-page h4{
  top: 300px;
}

/*WARNING MESSAGE
//===============*/
.mdl-components__warning {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    background-color: #FFF9C4;
    padding: 16px;
    border-radius: 2px;
    color: #212121;
}

/* ADDED BY TIM */
.mdl-card__actions i {
	vertical-align: middle;
}

.mdl-card__supporting-text i {
	vertical-align: middle;
	}

.index-species-tag {
	position: absolute;
	bottom: 0;
	text-align:right;
}

.index-species-tag span {
	text-shadow: 2px 2px 4px #000000;
}

.mdl-button {
	overflow: visible;
}

#new_comment_menu {
	max-height: 300px;
	overflow: scroll;
}

#new_comment_menu .mdl-menu__item {
	height: auto;
	padding: 0px 0px 10px 0px;
}

.mdl-menu__item .item-header {
	color: grey;
	line-height: 16px;
	font-size: 12px;
}

.mdl-menu__item .item-location {
	color: grey;
	line-height: 16px;
	font-size: 14px;
}

.mdl-menu__item .item-summary {
	color: black;
	line-height: 16px;
	font-size: 12px;
}

#post_text_wrapper {
	width: 100%;
}

.mdl-card {
	min-height: auto;
}

.image_inspect_dialog .ui-dialog-titlebar {
	display: none;
}

/* END ADDED BY TIM */


/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.mdl-textfield {
  width: 100%;
}

.demo-layout .demo-header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;
}
.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.demo-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}
.demo-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  /*height: 151px;*/
}
.demo-avatar-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.demo-navigation {
  flex-grow: 1;
}
.demo-layout .demo-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.demo-content {
  max-width: 1080px;
}

.demo-charts {
  align-items: center;
}
.demo-chart:nth-child(1) {
  color: #ACEC00;
}
.demo-chart:nth-child(2) {
  color: #00BBD6;
}
.demo-chart:nth-child(3) {
  color: #BA65C9;
}
.demo-chart:nth-child(4) {
  color: #EF3C79;
}
.demo-graphs {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .demo-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .demo-graph {
  max-height: 300px;
}
/* TODO end */
.demo-graph:nth-child(1) {
  color: #00b9d8;
}
.demo-graph:nth-child(2) {
  color: #d9006e;
}

.demo-cards {
  align-items: flex-start;
  align-content: flex-start;
}
.demo-cards .demo-separator {
  height: 32px;
}
.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.demo-cards ul {
  padding: 0;
}
.demo-cards h3 {
  font-size: 1em;
}
.demo-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.demo-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.demo-options h3 {
  margin: 0;
}
.demo-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.demo-options ul {
  margin: 0;
  list-style-type: none;
}
.demo-options li {
  margin: 4px 0;
}
.demo-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.demo-options .mdl-card__actions {
  height: 64px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

/*COMMENTS*/
.comments-chain {
    margin: 8px 0px 8px 8px;
    padding: 0px 16px 0px 0px;
    border-left: 5px solid rgb(255,64,129);
}
.comments-chain .mdl-card__supporting-text{
  padding: 8px 16px 8px 16px;
}
/*END*/
