body {

	font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
	padding: 0;
	margin: 0;

}

body a:visited {
	color: #f5dd5d;
}

.control-bar {
	width: 100%;
	background: LightBlue;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.control-bar a {
	text-decoration: none;
}

#user_bar {
	float:right;
	padding-right: 20px;
}
