#map {
    margin: auto;
    width:100%;
    height: 400px;
}

.card-bird {
  width: 100%;
}


.card-bird-full {
  height:300px;
 
} 

.card-bird-full img {
  height: 250px;
}
.card-bird-full .mdl-card__title{
  padding: 0px 0px 8px 16px;
  margin: 0px 0px 0px 0px;
}
.mdl-card__title-text{
   /*padding-bottom: 25px;*/
   color: black;
}


.mdl-card__supporting-text{

}

.birding-sign-in-logo{
  height: 100px;
  margin-left: 4em;
  margin-bottom: 1em;
}
.login-error p{
color:#f44336;
}

/*IMAGES FOR BIRDS
//===============*/
.image-block-m {
  /*border: 3px solid white;*/
  position: relative;
  background-color: black;
  padding: 0px;
  margin: 0px;
  height: 250px;
  vertical-align: bottom;
  line-height: 1;
}
.image-block-m{
  height: 250px;
}
.image-block-m span {
  color: white;
  vertical-align: text-bottom;
}
.image-block-m h4 {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  margin-bottom: 16px;
}
.image-block-m h4 span {
  color: white;
  font: bold 24px/45px Roboto, Helvetica, Sans-Serif;
  letter-spacing: -1px;
  /*background: rgba(0, 0, 0, 0.3);*/
  text-shadow: 2px 2px 4px #000000;
  padding: 10px;
}

.image {
  position: relative;
  width: 100%;
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);*/
}
/*IMAGES FOR BIRD SIGHTING PAGE
//===============*/
.sighting-page{
  height: 25em;
}

.sighting-page h4{
  top: 300px;
}

/*WARNING MESSAGE
//===============*/
.mdl-components__warning {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    background-color: #FFF9C4;
    padding: 16px;
    border-radius: 2px;
    color: #212121;
}

/* ADDED BY TIM */
.mdl-card__actions i {
	vertical-align: middle;
}

.mdl-card__supporting-text i {
	vertical-align: middle;
	}

.index-species-tag {
	position: absolute;
	bottom: 0;
	text-align:right;
}

.index-species-tag span {
	text-shadow: 2px 2px 4px #000000;
}

.index-card-buttons {
	background: rgba(255, 255, 255, 0.3);
}


/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.demo-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.demo-layout .demo-header .mdl-textfield {
  padding: 0px;
  margin-top: 41px;
}
.demo-layout .demo-header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;
}
.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.demo-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}
.demo-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  /*height: 151px;*/
}
.demo-avatar-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.demo-navigation {
  flex-grow: 1;
}
.demo-layout .demo-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.demo-content {
  max-width: 1080px;
}

.demo-charts {
  align-items: center;
}
.demo-chart:nth-child(1) {
  color: #ACEC00;
}
.demo-chart:nth-child(2) {
  color: #00BBD6;
}
.demo-chart:nth-child(3) {
  color: #BA65C9;
}
.demo-chart:nth-child(4) {
  color: #EF3C79;
}
.demo-graphs {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .demo-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .demo-graph {
  max-height: 300px;
}
/* TODO end */
.demo-graph:nth-child(1) {
  color: #00b9d8;
}
.demo-graph:nth-child(2) {
  color: #d9006e;
}

.demo-cards {
  align-items: flex-start;
  align-content: flex-start;
}
.demo-cards .demo-separator {
  height: 32px;
}
.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.demo-cards ul {
  padding: 0;
}
.demo-cards h3 {
  font-size: 1em;
}
.demo-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.demo-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.demo-options h3 {
  margin: 0;
}
.demo-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.demo-options ul {
  margin: 0;
  list-style-type: none;
}
.demo-options li {
  margin: 4px 0;
}
.demo-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.demo-options .mdl-card__actions {
  height: 64px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

/*COMMENTS*/
.comments-chain {
    margin: 8px 0px 8px 8px;
    padding: 0px 16px 0px 0px;
    border-left: 5px solid rgb(255,64,129);
}
.comments-chain .mdl-card__supporting-text{
  padding: 8px 16px 8px 16px;
}