{% extends 'birds/base.html' %}



{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% for field, errors in form.errors.items %}
    {% for error in errors %}
        <p><strong>{{ error }} {{ field }}</strong></p>
    {% endfor %}
{% endfor %}

<section class="mdl-grid">
	<div class="mdl-components__warning" id="warning-msg" style="display:none">
		<b>Alert:</b> Broswer location access should be enabled for automatic positioning.
	</div>
	<div class="mdl-cell mdl-cell--8-col mdl-cell--1-offset-desktop">
		
		<div class="card-bird mdl-card">
			<div class="mdl-card__title news-title">
				<h2 class="mdl-card__title-text">Edit Sighting</h2>
			</div>
			<div class="mdl-card__supporting-text">
				<form class="edit-sighting-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
					<div id="add_photo_button" class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
						<i class="material-icons">add_a_photo</i>
					</div>
					<div id="photo_load_spinner" class="mdl-spinner mdl-js-spinner"></div>
					<span id="photo_load_text"></span>
					
					<div class="mdl-grid" id="photo_container">
					{% for image in this_sighting.images %}
						<div id="image_container_{{ image.id }}" class="hover-card mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone mdl-shadow--2dp">
							<div style="position:absolute;z-index:1;">
								<a href="" onclick="return false;"><i data-image_id="{{ image.id }}" class="close-image material-icons">close</i></a>
								{% if image.order == 1 %}
									<a href="" onclick="return false;"><i data-image_id="{{ image.id }}" class="star-image material-icons">star</i></a>
								{% else %}
									<a href="" onclick="return false;"><i data-image_id="{{ image.id }}" class="star-image material-icons">star_border</i></a>
								{% endif %}
								
							</div>
							<div class="image image-block-m sighting-page sub-image" style="background: url({{ image.thumbnail_url }}) no-repeat center;background-size:cover;">
							</div>
						</div>
					{% endfor %}
					</div>
					{% for field in form.visible_fields %}
						{% if field.field.widget.attrs.id == "post_text_textarea" %}
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="post_text_wrapper">
								<label class="mdl-textfield__label" for="{{ field.name }}">{{ field.label }}</label>
								<textarea class="mdl-textfield__input" cols="40" id="post_text_textarea" maxlength="1000" name="post_text">{{ field.value }}</textarea>
							</div>
							
						{% elif field.html_name == "species_tag" %}
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<label class="mdl-textfield__label" for="species_tag_helper">{{ field.label }}</label>
								{% if form.instance.species_tag %}
									<input class="mdl-textfield__input" id="id_species_tag_helper" name="species_tag_helper" type="text" value="{{ form.instance.species_tag }}">
									<input id="id_species_tag" name="species_tag" type="hidden" value="{{ field.value }}">
								{% else %}
									<input class="mdl-textfield__input" id="id_species_tag_helper" name="species_tag_helper" type="text">
									<input id="id_species_tag" name="species_tag" type="hidden">
								{% endif %}
							</div>
						{% elif field.field.widget.attrs.class == "mdl-textfield__input" %}
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<label class="mdl-textfield__label" for="{{ field.name }}">{{ field.label }}</label>
								{{ field }}
							</div>
						{% else %}
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<label class="" for="{{ field.name }}">{{ field.label }}</label>
								{{ field }}
							</div>
						{% endif %}
					{% endfor %}
					{% for field in form.hidden_fields %}
						{{ field }}
					{% endfor %}
					
					<div id="msg"><p>CENTER of maps marks sighting location.</p></div>
					<input id="pac-input" class="controls" type="text" placeholder="Search Box" value="{{ form.location.value }}">
					<div id="editor_map"></div>
					
					
					
					<input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="save_button" type="submit" value="Save" />
					<a class="mdl-button mdl-js-button mdl-button--accent" href="{% url 'birds:index' %}">Cancel</a>
					
				</form>
				
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	var loading_files = 0;

    jQuery(function($){
	
		var star_image_click = function(){
			var star_element = $(this);
			var image_id = $(this).attr('data-image_id');
		
			$.ajax({
				url: "{% url 'birds:star_photo' %}",
				data: {
					image_id: image_id,
					csrfmiddlewaretoken: "{{ csrf_token }}"
				},
				type: "POST",
				dataType: "json",
				success: function(data) {
					if (data.msg == "success"){
						$('.star-image').text("star_border");
						star_element.text("star");
					}
				},
				error: function(jqXHR, textStatus, errorThrown){
					alert(textStatus);
				}
			});
		}
		$('.star-image').click( star_image_click );
	
		var remove_image_click = function(){
			var image_id = $(this).attr('data-image_id');
			var the_image_div = $("#image_container_"+image_id);
		
			$.ajax({
				url: "{% url 'birds:remove_photo' %}",
				data: {
					image_id: image_id,
					csrfmiddlewaretoken: "{{ csrf_token }}"
				},
				type: "POST",
				dataType: "json",
				success: function(data) {
					if (data.msg == "success"){
						$(the_image_div).remove();
					}
				},
				error: function(jqXHR, textStatus, errorThrown){
					alert(textStatus);
				}
			});
		}
		
		$('.close-image').click(remove_image_click);
	
		$('#add_photo_button').click(function(){
			$('<input name="file" id="add_photo" type="file" style="display:none">').change(function(){
				if (!this.files[0].type.includes("image")) {
					alert("this is not an image file.  Please upload only images.");
					return;
				}
				getSignedRequest(this);
				loading_files += 1;
				$('#photo_load_spinner').addClass('is-active');
				$('#photo_load_text').text(loading_files+" files loading.  Please wait.");
			}).trigger('click');
		});
		
		function getSignedRequest(file_element){
			$.ajax({
				url: "{% url 'birds:signs3' %}",
				data: {
					'sighting_id':{{ this_sighting.id }},
					'csrfmiddlewaretoken': "{{ csrf_token }}"
				},
				type: "POST",
				dataType: "json",
				success: function(response){
					uploadFile(file_element, response.data, response.url, response.filename, response.id, response.thumbnail_url);
				},
				error: function(jqXHR, textStatus, errorThrown){
					alert("Could not get signed URL.");
				}
			});
		}
		
		function uploadFile(file_input, s3Data, url, filename, id, thumbnail_url){

			var myForm = document.createElement('form');
			for(key in s3Data.fields){
				var this_input = document.createElement('input');
				this_input.setAttribute('name',key);
				this_input.setAttribute('value',s3Data.fields[key]);
				myForm.appendChild(this_input);
			}
			
			myForm.appendChild(file_input);
			
			postData = new FormData(myForm);
			
			var xhr = new XMLHttpRequest();
			xhr.open("POST", s3Data.url);

			xhr.onreadystatechange = function() {
				if(xhr.readyState === 4){
					if(xhr.status === 200 || xhr.status === 204){
						show_this_thumbnail(thumbnail_url, id)
					}else{
						alert("Could not upload file. "+xhr.responseText);
					}
				}
			};
			xhr.send(postData);
			file_input.value = null;
		}
		
		function show_this_thumbnail(thumbnail_url, id) {
			urlExists(thumbnail_url, function(exists){
				if ( exists ) {
					$('#photo_container').append('<div id="image_container_'+id+'" class="hover-card mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone mdl-shadow--2dp"><div style="position:absolute;z-index:1;"><a href="" onclick="return false;"><i data-image_id="'+id+'" class="close-image material-icons">close</i></a><a href="" onclick="return false;"><i data-image_id="'+id+'" class="star-image material-icons">star_border</i></a></div><div class="image image-block-m sighting-page sub-image" style="background: url('+thumbnail_url+') no-repeat center;background-size:cover;"></div></div>');

					$('.star-image').unbind('click').click( star_image_click );
					$('.close-image').unbind('click').click(remove_image_click);
					loading_files -= 1;
					if ( loading_files == 0 ) {
						$('#photo_load_spinner').removeClass('is-active');
						$('#photo_load_text').text("");
					}else{
						$('#photo_load_text').text(loading_files+" files loading.  Please wait.");
					}
				}else{
					setTimeout(function(){
						show_this_thumbnail(thumbnail_url, id)
					}, 1000);
				}
			});
		}
		
		function urlExists(url, callback){
			$.ajax({
				type: 'GET',
				url: url,
				success: function(){
					callback(true);
				},
				error: function() {
					callback(false);
				}
			});
		}
	
        $('#id_sighting_date').datepicker({
			onClose: function(dateText){
				if (dateText !== ""){
					$('#id_sighting_date').parent().addClass('is-dirty');
				}
			}
		
		});

		$('#id_species_tag_helper').autocomplete({
			source: "{% url 'birds:species_query' %}",
			minLength: 2,
			response: function( event, ui ) {
			
				//alert('got response');
			
			},
			select: function( event, ui ){
				$('#id_species_tag').val(ui.item.id);
			}
		}).change(function(){
		
			if ( $(this).val().trim() == "" ) {
				$('#id_species_tag').val("");
			}
		
		});
		
		
		
		
		
		
		
		/*
		MAP STUFF
		*/

        var pos = { lat: {{ form.lat.value|default:0 }}, lng: {{ form.lng.value|default:0 }} }
        var editor_map = new google.maps.Map(document.getElementById('editor_map'), {
			zoom: 14,
			center: pos,
			mapTypeControl: false,
		})
        var geocoder = new google.maps.Geocoder;
	
		/*
		map Search Box
		*/
		
		
		// Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        editor_map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
		// Bias the SearchBox results towards current map's viewport.
        editor_map.addListener('bounds_changed', function() {
          searchBox.setBounds(editor_map.getBounds());
        });
		var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: editor_map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          editor_map.fitBounds(bounds);
        });
		


        var marker = new google.maps.Marker({
            position: pos, icon: {
                path: google.maps.SymbolPath.CIRCLE,
				fillColor: 'red',
				fillOpacity: .2,
				scale: 20,
				strokeColor: 'white',
				strokeWeight: .5
            },
            draggable: true,
            map: editor_map
        })

        var moved = 0;
           
        editor_map.addListener('center_changed', function() {
            pos = editor_map.getCenter()
            $('#id_lat').val(pos.lat())
            $('#id_lng').val(pos.lng())
            marker.setPosition(pos)
            moved = 1;
        })
           
        setInterval(function(){
            if (moved == 1){
                geocodeLatLng(geocoder, editor_map, pos.lat(), pos.lng())
                moved = 0;
            }
        }, 3000);

        if (navigator.geolocation) {
            if (pos.lat == 0 && pos.lng == 0) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    }
                    editor_map.setCenter(pos);
                }, function(err) {
                    $('#msg').html("<p>ERROR(" + err.code + "): " + err.message + "</p>")
                })
            }
        } else {
            // Browser doesn't support Geolocation
            $('#msg').html("<p>Browser didn't allow geolocation.</p>")
			$('#warning-msg').slideToggle('slow');
        }
           
        function geocodeLatLng(geocoder, editor_map, lat, lng) {
            var latlng = {lat: lat, lng: lng};
            geocoder.geocode({'location': latlng, 'region': 'us'}, function(results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        $('#id_location').val(results[1].formatted_address);
						$('#pac-input').val(results[1].formatted_address);
						$('#id_location').parent().addClass('is-dirty');
                    } else {
                        window.alert('No results found');
                    }
                } else {
                    window.alert('Geocoder failed due to: ' + status);
                }
            });
        }
		
		/* 
		END MAP STUFF
		*/
		
    })
</script>
{% endblock %}
