{% extends 'birds/base.html' %}


{% block desc_title %}
<meta name="description" content="The Birding Book, bird science.">
<title>The Birding Book</title>
{% endblock %}

{% block content %}

<div class="mdl-cell mdl-cell--8-col mdl-cell--1-offset-desktop">
	<form action="{% url 'birds:feedback' %}" method="POST">{% csrf_token %}
	{% if thanks %}

		<div class="mdl-card__title">
			<h3 class="mdl-card__title-text">Thank You, we'll get back to you shortly.</h3>
		</div>

	{% else %}


		<div class="mdl-card__title">
			
				<div class="mdl-textfield mdl-js-textfield">
					<textarea class="mdl-textfield__input" type="text" rows= "3" id="feedback_text_id" name="feedback_text" ></textarea>
					<label class="mdl-textfield__label" for="feedback_text_id">Let us know what you think...</label>
				</div>
			
		</div>


		<div class="mdl-card__supporting-text">
			What would you like to see in the Birding Book?  How can we make the experience better? Problems?  Issues?
		</div>

		<div class="mdl-card__actions mdl-card--border">
			<button class="mdl-button mdl-js-button mdl-button--primary">
				Send Message
			</button>
		</div>

	{% endif %}
	</form>
</div>



{% endblock %}
