
<div class="mdl-grid">
{% for image in sighting.images %}
	{% if forloop.counter == 1 %}
		<img style="height:100%;width:auto;" class="mdl-cell--2-offset-desktop mdl-shadow--2dp" src="{{ image.photo.url }}">
	{% else %}
		<div class="hover-card mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone mdl-shadow--2dp">
			<a href="#" class="image-expand-on-click">
				<div class="image image-block-m sighting-page sub-image" style="background: url({{ image.photo.url }}) no-repeat center;background-size:cover;"></div>
			</a>
		</div>
			
	{% endif %}
	
{% endfor %}
</div>