{% extends 'birds/base.html' %}

{% block content %}
<div class="page-content">
	<section class="mdl-grid">
		<div class="mdl-cell mdl-cell--12-col">
		{% if latest_sighting_list %}
			<div class="mdl-grid">
			{% for sighting in latest_sighting_list %}
				<div class="hover-card mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet demo-card-wide mdl-card mdl-shadow--2dp">
					<a class="no-decoration" href="{% url 'birds:view_sighting' sighting.id %}">
						{% if sighting.images.count == 0 %}
							<div style="height:100px;" class="image image-block-m">
								<h4 style="top:0px;" >
									<span>{{ sighting.caption }}</span>
								</h4>
								<div class="mdl-card__actions index-species-tag">
									<span>
										<i class="material-icons">local_offer</i><span> {{sighting.species_tag}}</span>
									</span>
								</div>
							</div>
						{% else %}
							{% with sighting.images.all|first as image %}
								<div class="image image-block-m" style="background: url({{ image.photo.url }}) no-repeat center;background-size:cover;">
									<h4>
										<span>{{ sighting.caption }}</span>
									</h4>
									<div class="mdl-card__actions index-species-tag">
										<span>
											<i class="material-icons">local_offer</i><span> {{sighting.species_tag}}</span>
										</span>
									</div>
								</div>
							{% endwith %}
						{% endif %}
					</a>
					<div class="mdl-card__supporting-text">
						
						<div style="float:left">{{ sighting.time_diff }}</div>

						<div style="float:right"><div class="material-icons mdl-badge mdl-badge--overlap" data-badge="{{ sighting.images.count }}">photo_album</div>{{ sighting.num_likes }} likes {{ sighting.num_comments }} comments</div>
					</div>	
					<!--<div class="mdl-card__menu">
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect index-card-buttons">
						  <i class="material-icons md-light">star_border</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect index-card-buttons">
						  <i class="material-icons md-light">flag</i>			      
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect index-card-buttons">
						  <i class="material-icons">insert_comment</i>
						</button>
					</div>-->
				</div>
			{% endfor %}
			</div>
		{% else %}
			<div class="mdl-components__warning">
				<b>Note:</b> No sightings are available.
			</div>
		{% endif %}
		</div>
	</section>
</div>
{% endblock %}
