{% extends 'birds/base.html' %}

{% block desc_title %}
<title>The Birding Book</title>

<meta property="og:url"                content="www.thebirdingbook.com" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="The Birding Book" />
<meta property="og:description"        content="Bird and be happy.  The Birding Book is a modern approach to birding, offering birders a way to track their sightings by sepcies, time, and location.  Help other birders ID their birds.  Search for birds near you." name="description"/>
<meta property="og:image"              content="{{ preview_url }}" />


{% endblock %}

{% block content %}

<div class="mdl-grid" id="sighting_grid_wrapper">

</div>



<script type="text/javascript">

jQuery(function($) {

	function need_more() {
		
		if ( $('main').scrollTop() + $('main').height() >= 0.5 * $('#sighting_grid_wrapper').height() ){
			return true;
		}else{
			return false;
		}
	}

	function load_sighting(page){
		data = {
			'csrfmiddlewaretoken': '{{ csrf_token }}'
		}
		
		if ( page > -1 ) {
			data['page'] = page
		}

		$.ajax({
			url: "{% url 'birds:sightings_search' %}",
			data: data,
			type: "POST",
			dataType: "json",
			success: function(data) {
				$('#sighting_grid_wrapper').append(data['html']);
				if ( data['next_page'] != "done" ) {
					if ( need_more() ) {
						load_sighting(data['next_page']);
					}else{
						$('main').unbind('scroll').scroll(function(){
							if ( need_more() ){
								$('main').unbind('scroll');
								load_sighting(data['next_page']);
							}
						});
					}
				}
			},
			error: function(jqXHR, textStatus, errorThrown){
				alert(textStatus);
			}
		});
	}
	
	load_sighting();
	
});
</script>
{% endblock %}
