{% extends 'birds/base.html' %}


{% block content %}



<div id="view" style="height:100%;width:100%;">
	<div class="mdl-grid" style="position:absolute;top:0;left:0;right:0;">
		<div class="mdl-cell mdl-cell--12-col mdl-card" id="search_holder">
			
		</div>
	</div>

	<div id="map"></div>
	<div id="map_details"></div>
</div>

<style type="text/css">

#map {
	height:100%;
	width:100%;
	position:absolute;
}

#map_details {
	
	width:350px;
	position:absolute;
	z-index:2;
	bottom:10px;
	left:10px;
	display: none;
}

</style>
<script type="text/javascript">

var map = new google.maps.Map(document.getElementById('map'), {
	zoom: 2,
	center: { lat: 0, lng: 0 },
	maxZoom: 14
});

function map_get_data($){
	//load points inside these bounds
	var m = map.getBounds();
	var postData = {
		'north_lat': m.getNorthEast().lat(),
		'south_lat': m.getSouthWest().lat(),
		'east_lng': m.getNorthEast().lng(),
		'west_lng': m.getSouthWest().lng(),
		'csrfmiddlewaretoken': '{{ csrf_token }}'
	}
	
	$.ajax({
		url: "{% url 'birds:get_map_points' %}",
		data: postData,
		type: "POST",
		dataType: "json",
		success: function(data) {
			map.data.forEach(function(feature){map.data.remove(feature)});
			
			features = [];
		
			var bounds = new google.maps.LatLngBounds();
		
			for (var sighting in data.sighting_list) {
				features.push({
					"type": "Feature",
					"properties": { 'sighting_id': data.sighting_list[sighting].pk },
					"geometry": {
						"type": "Point",
						"coordinates": [
							data.sighting_list[sighting].lng,
							data.sighting_list[sighting].lat
						]
					}
				});
				
				bounds.extend(new google.maps.LatLng({lat: data.sighting_list[sighting].lat, lng: data.sighting_list[sighting].lng}));
				
			}
			
			map.data.addGeoJson({
				"type": "FeatureCollection",
				"features": features
			});
			map.fitBounds(bounds);
			var listener = google.maps.event.addListener(map, "idle", function() { 
				if (map.getZoom() > 10) map.setZoom(10);
				google.maps.event.removeListener(listener);
			});
			
			
			/*
			add search stuff
			*/
			
			var search_viz = $('<div class="mdl-card__supporting-text"></div>');
			var have_search = false;
			
			for (var search_i in data.search){
				var clear_button = $('<button type="button" class="mdl-chip__action" onclick="clear_search('+"'"+data.search[search_i].type+"'"+');"><i class="material-icons">cancel</i></button>');
				clear_button.click(function(){
					clear_search(search_i);
				});
				
				var chip = $('<span class="mdl-chip mdl-chip--deletable"></span>');
				
				chip.append('<span class="mdl-chip__text">'+data.search[search_i].value+'</span>').append(clear_button);
			
				search_viz.append(chip);
		
				have_search = true;
			}
		
			$('#search_holder').html("");
			if (have_search) {
				$('#search_holder').append(search_viz);
			}
			
		},
		error: function(data){
			console.log("got error in getting features from server.");
		}
	});
	
	bound_reset_activated = false;
	setTimeout(function(){
		bound_reset_activated = true;
	}, 2000);
}

jQuery(function($){
	features = [];
	
	var featureStyle = {
		icon: {
			path: google.maps.SymbolPath.CIRCLE,
			fillColor: 'red',
			fillOpacity: .5,
			scale: 10,
			strokeColor: 'white',
			strokeWeight: .5
		}
	}
	
	map.data.setStyle(featureStyle);
	
	function fadeInSighting(sighting_id) {
		$.ajax({
			url: "{% url 'birds:info_window' %}",
			data: {'sighting_id': sighting_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
			type: "POST",
			dataType: "html",
			success: function(data) {
				$('#map_details').html(data).fadeIn(50);
			}
		});
	}
	
	map.data.addListener('mouseover', function(event){
		fadeInSighting(event.feature.getProperty("sighting_id"));
	});
	
	//map.data.addListener('mouseout', function(event) {
	//	if( !$('#map_details').is(':hover') ) {
	//		$('#map_details').fadeOut(100);
	//
	//	}else{
	//		$('#map_details').mouseleave(function(){
	//			$('#map_details').fadeOut(100);
	//		});
	//	}
	//});
	
	map.data.addListener('click', function(event)  {
		if (!$('#map_details').is(':visible')){
			fadeInSighting(event.feature.getProperty("sighting_id"));
		}
	});
	
	map.addListener('click', function(){
		if( !$('#map_details').is(':hover') ) {
			$('#map_details').fadeOut(100);
		}
	})
	
	var init_map = true;
	
	map.addListener('bounds_changed', function() {
		if ( init_map ) {
			map_get_data($);
		}
		init_map = false;
	});

});

</script>



{% endblock %}
