{% extends 'birds/base.html' %}



{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% for field, errors in form.errors.items %}
    {% for error in errors %}
        <p><strong>{{ error }} {{ field }}</strong></p>
    {% endfor %}
{% endfor %}


<div class="page-content">
	<section class="mdl-grid">
        <div class="mdl-components__warning">
                <b>Note:</b> Broswer location access must be enabled.
            </div>
		<div class="mdl-cell mdl-cell--8-col mdl-cell--1-offset-desktop">
            
			<div class="card-bird mdl-card mdl-shadow--3dp"> 
				<div class="mdl-card__title news-title">
					<h2 class="mdl-card__title-text">New Sighting </h2>
				</div>
				<div class="mdl-card__supporting-text news-text">
					<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                        {% for field in form.visible_fields %}
                            {% if field.field.widget.attrs.class == "mdl-textfield__input" %}
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <label class="mdl-textfield__label" for="{{ field.name }}">{{ field.label }}</label>
                                    {{ field }}
                                </div>
                            {% else %}
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <label class="" for="{{ field.name }}">{{ field.label }}</label>
                                    {{ field }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% for field in form.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                        <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="save_button" type="submit" value="Save" />
						<a class="mdl-button mdl-js-button mdl-button--accent" href="{% url 'birds:index' %}">Cancel</a>
						
					</form>
					<div id="msg"><p>Please indicate sighting location.</p></div>
					<div id="map"></div>
				</div>
			</div>
		</div>
	</section>
</div>
<script type="text/javascript">
    jQuery(function($){
        $('#id_sighting_date').datepicker();

		$('#id_species_tags').autocomplete({
			source: "{% url 'birds:species_query' %}",
			minLength: 2,
			response: function( event, ui ) {
			
				//alert('got response');
			
			}
		});

        var pos = { lat: {{ form.lat.value|default:0 }}, lng: {{ form.lng.value|default:0 }} }
        var map = new google.maps.Map(document.getElementById('map'), { zoom: 14, center: pos })
        var geocoder = new google.maps.Geocoder;

        var marker = new google.maps.Marker({
            position: pos, icon: {
                path: google.maps.SymbolPath.CIRCLE,
                scale: 5
            },
            draggable: true,
            map: map
        })

        var moved = 0;
           
        map.addListener('center_changed', function() {
            pos = map.getCenter()
            $('#id_lat').val(pos.lat())
            $('#id_lng').val(pos.lng())
            marker.setPosition(pos)
            moved = 1;
        })
           
        setInterval(function(){
            if (moved == 1){
                geocodeLatLng(geocoder, map, pos.lat(), pos.lng())
                moved = 0;
            }
        }, 3000);

        if (navigator.geolocation) {
            if (pos.lat == 0 && pos.lng == 0) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    }
                    map.setCenter(pos);
                }, function(err) {
                    $('#msg').html("<p>ERROR(" + err.code + "): " + err.message + "</p>")
                })
            }
        } else {
            // Browser doesn't support Geolocation
            $('#msg').html("<p>Browser doesn't support geolocation.</p>")
        }
           
        function geocodeLatLng(geocoder, map, lat, lng) {
            var latlng = {lat: lat, lng: lng};
            geocoder.geocode({'location': latlng, 'region': 'us'}, function(results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        $('#id_location').val(results[1].formatted_address);
                    } else {
                        window.alert('No results found');
                    }
                } else {
                    window.alert('Geocoder failed due to: ' + status);
                }
            });
        }
    })
</script>
{% endblock %}
