{% extends 'birds/base.html' %}



{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% for field, errors in form.errors.items %}
    {% for error in errors %}
        <p><strong>{{ error }} {{ field }}</strong></p>
    {% endfor %}
{% endfor %}


<div class="page-content">
	<section class="mdl-grid">
        <div class="mdl-components__warning" id="warning-msg" style="display:none">
			<b>Alert:</b> Broswer location access should be enabled for automatic positioning.
		</div>
		<div class="mdl-cell mdl-cell--8-col mdl-cell--1-offset-desktop">
            
			<div class="card-bird mdl-card mdl-shadow--3dp"> 
				<div class="mdl-card__title news-title">
					<h2 class="mdl-card__title-text">New Sighting</h2>
				</div>
				<div class="mdl-card__supporting-text news-text">
					<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                        {% for field in form.visible_fields %}
							{% if field.field.widget.attrs.id == "post_text_textarea" %}
							<br>
								<div id="add_photo_button" class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
									<i class="material-icons">add_a_photo</i>
								</div>
                                <input id="add_photo" type="file" style="display:none" multiple>
                                <div class="mdl-grid" id="photo_container">
								{% for image in this_sighting.images %}
									<div id="image_container_{{ image.id }}" class="hover-card mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone mdl-shadow--2dp">
										<div style="position:absolute;z-index:1;">
											<a href="" onclick="return false;"><i data-image_id="{{ image.id }}" class="close-image material-icons">close</i></a>
											{% if image.order == 1 %}
												<a href="" onclick="return false;"><i data-image_id="{{ image.id }}" class="star-image material-icons">star</i></a>
											{% else %}
												<a href="" onclick="return false;"><i data-image_id="{{ image.id }}" class="star-image material-icons">star_border</i></a>
											{% endif %}
											
										</div>
										<div class="image image-block-m sighting-page sub-image" style="background: url({{ image.photo.url }}) no-repeat center;background-size:cover;">
										</div>
									</div>
								{% endfor %}
                                </div>
								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="post_text_wrapper">
                                    <label class="mdl-textfield__label" for="{{ field.name }}">{{ field.label }}</label>
                                    {{ field }}
                                </div>
							{% elif field.html_name == "species_tag" %}
								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <label class="mdl-textfield__label" for="species_tag_helper">{{ field.label }}</label>
									<input class="mdl-textfield__input" id="id_species_tag_helper" name="species_tag_helper" type="text" value="{{ form.instance.species_tag }}">
                                    <input id="id_species_tag" name="species_tag" type="hidden" value="{{ field.value }}">
                                </div>
                            {% elif field.field.widget.attrs.class == "mdl-textfield__input" %}
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <label class="mdl-textfield__label" for="{{ field.name }}">{{ field.label }}</label>
                                    {{ field }}
                                </div>
                            {% else %}
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <label class="" for="{{ field.name }}">{{ field.label }}</label>
                                    {{ field }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% for field in form.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                        <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="save_button" type="submit" value="Save" />
						<a class="mdl-button mdl-js-button mdl-button--accent" href="{% url 'birds:index' %}">Cancel</a>
						
					</form>
					<div id="msg"><p>Indicate sighting location by re-positioning the map.</p></div>
					<div id="map"></div>
				</div>
			</div>
		</div>
	</section>
</div>

<script type="text/javascript">
    jQuery(function($){
	
		var star_image_click = function(){
			var star_element = $(this);
			var image_id = $(this).attr('data-image_id');
		
			$.ajax({
				url: "{% url 'birds:star_photo' %}",
				data: {
					image_id: image_id,
					csrfmiddlewaretoken: "{{ csrf_token }}"
				},
				type: "POST",
				dataType: "json",
				success: function(data) {
					if (data.msg == "success"){
						$('.star-image').text("star_border");
						star_element.text("star");
					}
				},
				error: function(jqXHR, textStatus, errorThrown){
					alert(textStatus);
				}
			});
		}
		$('.star-image').click( star_image_click );
	
		var remove_image_click = function(){
			var image_id = $(this).attr('data-image_id');
			var the_image_div = $("#image_container_"+image_id);
		
			$.ajax({
				url: "{% url 'birds:remove_photo' %}",
				data: {
					image_id: image_id,
					csrfmiddlewaretoken: "{{ csrf_token }}"
				},
				type: "POST",
				dataType: "json",
				success: function(data) {
					if (data.msg == "success"){
						$(the_image_div).remove();
					}
				},
				error: function(jqXHR, textStatus, errorThrown){
					alert(textStatus);
				}
			});
		}
		
		$('.close-image').click(remove_image_click);
	
		$('#add_photo_button').click(function(){
			$('#add_photo').trigger('click');
		});
		
		$('#add_photo').change(function(){
			formdata = new FormData();
			if (formdata) {
				for ( var i = 0; i < this.files.length; i ++ ){
					formdata.append("bird_photo", this.files[i]);
				}
				formdata.append("sighting_id", {{ this_sighting.id }});
				formdata.append("csrfmiddlewaretoken", "{{ csrf_token }}");
				$.ajax({
					url: "{% url 'birds:add_photo' %}",
					data: formdata,
					type: "POST",
					dataType: "json",
					processData: false,
					contentType: false,
					success: function(data) {
						if (data.msg == "success"){
							for ( var i = 0; i < data.urls.length; i++ ) {
								$('#photo_container').append('<div id="image_container_'+data.ids[i]+'" class="hover-card mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone mdl-shadow--2dp"><div style="position:absolute;z-index:1;"><a href="" onclick="return false;"><i data-image_id="'+data.ids[i]+'" class="close-image material-icons">close</i></a><a href="" onclick="return false;"><i data-image_id="'+data.ids[i]+'" class="star-image material-icons">star_border</i></a></div><div class="image image-block-m sighting-page sub-image" style="background: url('+data.urls[i]+') no-repeat center;background-size:cover;"></div></div>');
							}
							$('.star-image').unbind('click').click( star_image_click );
							$('.close-image').unbind('click').click(remove_image_click);
						}
					},
					error: function(jqXHR, textStatus, errorThrown){
						alert(textStatus);
					}
				});
			}
		})
	
        $('#id_sighting_date').datepicker({
			onClose: function(dateText){
				if (dateText !== ""){
					$('#id_sighting_date').parent().addClass('is-dirty');
				}
			}
		
		});

		$('#id_species_tag_helper').autocomplete({
			source: "{% url 'birds:species_query' %}",
			minLength: 2,
			response: function( event, ui ) {
			
				//alert('got response');
			
			},
			select: function( event, ui ){
				$('#id_species_tag').val(ui.item.id);
			}
		});

        var pos = { lat: {{ form.lat.value|default:0 }}, lng: {{ form.lng.value|default:0 }} }
        var map = new google.maps.Map(document.getElementById('map'), { zoom: 14, center: pos })
        var geocoder = new google.maps.Geocoder;

        var marker = new google.maps.Marker({
            position: pos, icon: {
                path: google.maps.SymbolPath.CIRCLE,
                scale: 5
            },
            draggable: true,
            map: map
        })

        var moved = 0;
           
        map.addListener('center_changed', function() {
            pos = map.getCenter()
            $('#id_lat').val(pos.lat())
            $('#id_lng').val(pos.lng())
            marker.setPosition(pos)
            moved = 1;
        })
           
        setInterval(function(){
            if (moved == 1){
                geocodeLatLng(geocoder, map, pos.lat(), pos.lng())
                moved = 0;
            }
        }, 3000);

        if (navigator.geolocation) {
            if (pos.lat == 0 && pos.lng == 0) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    }
                    map.setCenter(pos);
                }, function(err) {
                    $('#msg').html("<p>ERROR(" + err.code + "): " + err.message + "</p>")
                })
            }
        } else {
            // Browser doesn't support Geolocation
            $('#msg').html("<p>Browser didn't allow geolocation.</p>")
			$('#warning-msg').slideToggle('slow');
        }
           
        function geocodeLatLng(geocoder, map, lat, lng) {
            var latlng = {lat: lat, lng: lng};
            geocoder.geocode({'location': latlng, 'region': 'us'}, function(results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        $('#id_location').val(results[1].formatted_address);
						$('#id_location').parent().addClass('is-dirty');
                    } else {
                        window.alert('No results found');
                    }
                } else {
                    window.alert('Geocoder failed due to: ' + status);
                }
            });
        }
    })
</script>
{% endblock %}
