{% extends 'birds/base.html' %}

{% block desc_title %}
<title>The Birding Book - Set Username</title>
<meta name="description" content="Use this form to change your username shown in The Birding Book.">

<meta property="og:url"                content="www.thebirdingbook.com/setusername/" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="The Birding Book - Set Username" />
<meta property="og:description"        content="Use this form to change your username shown in The Birding Book." />
<meta property="og:image"              content="{{ preview_url }}" />
{% endblock %}

{% block content %}
<div class="page-content">
	<section class="mdl-grid">
		<div class="mdl-cell mdl-cell--12-col">	
		<div class="mdl-cell mdl-cell--10-col-desktop mdl-cell--1-offset-desktop mdl-card mdl-shadow--3dp">
			<div class="mdl-card__title" id="faq">
				<h2 class="mdl-card__title-text">Set Username</h2>
			</div>
			<form method="post">{% csrf_token %}
				{% if next %}
					<input type="hidden" value="{{ next }}" name="next">
				{% endif %}
				<div class="mdl-card__supporting-text">
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label {% if error %}is-invalid{% endif %}">
						<input class="mdl-textfield__input" type="text" name="username" id="username_input">
						<label class="mdl-textfield__label" for="username_input">New Username...</label>
						<span class="mdl-textfield__error">{{ error }}</span>
					</div>
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">OK</button>
				</div>
			</form>
			
			
			</div>
		</div>
		</div>
	</section>
</div>


{% endblock %}
