{% extends 'birds/'|add:the_template %}

{% block sighting_grid %}

{% if search and info_window == None %}
	<div class="mdl-cell mdl-cell--12-col mdl-card">
		<div class="mdl-card__supporting-text">
		{% for s in search %}
			<span class="mdl-chip mdl-chip--deletable">
				<span class="mdl-chip__text">{{ s.value }}</span>
				<button type="button" class="mdl-chip__action" onclick="clear_search('{{ s.type }}');"><i class="material-icons">cancel</i></button>
			</span>
		{% endfor %}
		</div>
	</div>
{% endif %}


{% if sighting_list %}
		
	{% for sighting in sighting_list %}

		<div class="full-width-card hover-card mdl-cell {% if info_window %}mdl-cell--12-col{% else %}mdl-cell--7-col-desktop mdl-cell--8-col-tablet{% endif %} mdl-card">
			<div class="mdl-card__actions">
				<a href="{% url 'birds:user' sighting.user.id %}">
					<span class="mdl-chip user-chip">
						<div class="mdl-chip__contact"  style="background: url({{ sighting.user.avatar.thumbnail_url }}) no-repeat center;background-size:cover;"></div>
						<span class="mdl-chip__text">{{ sighting.user }}</span>
					</span>
				</a>
				<span style="float:right" class="user-chip mdl-chip">
					<span class="mdl-chip__text">{{ sighting.time_diff }}</span>
				</span>
				
			</div>
			<a class="no-decoration" href="{% url 'birds:view_sighting' sighting.id %}">
		{% if sighting.images.count == 0 %}
			<div class="sighting-grid-no-image-description mdl-card__supporting-text">
				<div class="sighting-grid-caption">
					<table style="width:100%">
						<tr><td>
							{{ sighting.caption }}
						</td>
						<td style="text-align:right;white-space: nowrap">
	
							{% if sighting.images.count > 0 %}
								<i class="material-icons" style="vertical-align:middle;font-size:18px;">photo_album</i>{{ sighting.images.count }}
							{% endif %}
							{% if sighting.num_likes > 0 %}
								<i class="material-icons" style="margin-left:2px;vertical-align:middle;font-size:18px;">thumb_up</i>{{ sighting.num_likes }}
							{% endif %}
							{% if sighting.num_comments > 0 %}
								<i class="material-icons" style="margin-left:2px;vertical-align:middle;font-size:18px;">comment</i>{{ sighting.num_comments }}
							{% endif %}
							
						</td></tr>
					</table>
				
				</div>
				
				<hr>
				<div class="sighting-grid-species-tag">
					<i class="material-icons">local_offer</i> <span style="color:inherit">{{sighting.species_tag}}</span>
				</div>
			</div>
		{% else %}
		
			<div class="image image-block-m" style="background: url({{ sighting.images.0.thumbnail_url }}) no-repeat center;background-size:cover;">
				<div class="sighting-grid-image-description">
					<div class="sighting-grid-caption">
						<table style="width:100%">
							<tr><td>
								{{ sighting.caption }}
							</td>
							<td style="text-align:right;white-space: nowrap">
		
								{% if sighting.images.count > 0 %}
									<i class="material-icons" style="vertical-align:middle;font-size:18px;">photo_album</i>{{ sighting.images.count }}
								{% endif %}
								{% if sighting.num_likes > 0 %}
									<i class="material-icons" style="margin-left:2px;vertical-align:middle;font-size:18px;">thumb_up</i>{{ sighting.num_likes }}
								{% endif %}
								{% if sighting.num_comments > 0 %}
									<i class="material-icons" style="margin-left:2px;vertical-align:middle;font-size:18px;">comment</i>{{ sighting.num_comments }}
								{% endif %}
								
							</td></tr>
						</table>
					
					</div>
					
					<hr>
					<div class="sighting-grid-species-tag">
						<i class="material-icons">local_offer</i> <span style="color:inherit">{{sighting.species_tag}}</span>
					</div>
				</div>
			</div>
			
		{% endif %}
		
			<div class="mdl-card__supporting-text">
				<div>{{ sighting.location }}</div>
			</div>
			</a>
		</div>

	{% endfor %}

{% endif %}

{% endblock %}
