{% extends 'birds/'|add:the_template %}

{% block sighting_grid %}

<div class="mdl-grid">

{% if search and info_window == None %}
	<div class="mdl-cell mdl-cell--12-col mdl-card">
		<div class="mdl-card__supporting-text">
		{% for s in search %}
			<span class="mdl-chip mdl-chip--deletable">
				<span class="mdl-chip__text">{{ s.value }}</span>
				<button type="button" class="mdl-chip__action" onclick="clear_search('{{ s.type }}');"><i class="material-icons">cancel</i></button>
			</span>
		{% endfor %}
		</div>
	</div>
{% endif %}

		

{% if sighting_list %}
		
	{% for sighting in sighting_list %}
		<div class="hover-card mdl-cell {% if info_window %}mdl-cell--12-col{% else %}mdl-cell--6-col-desktop mdl-cell--8-col-tablet{% endif %} mdl-card">
			<a href="{% url 'birds:user' sighting.user.id %}">
				<span class="mdl-chip mdl-card__supporting-text user-chip">
					<img class="mdl-chip__contact" src="{{ sighting.user.avatar.avatar.url }}">
					<span class="mdl-chip__text">{{ sighting.user }}</span>
				</span>
			</a>
			<a class="no-decoration" href="{% url 'birds:view_sighting' sighting.id %}">
				{% if sighting.images.count == 0 %}
					<div style="height:100px;" class="image image-block-m mdl-color--blue-grey-800">
						<div class="sighting-grid-image-description">
							<div class="sighting-grid-caption">{{ sighting.caption }}
							
							<span style="position:absolute;right:0;top:5px;align-text:center; padding:5px;">
							{% if sighting.num_likes > 0 %}
								<i class="material-icons" style="vertical-align:middle;font-size:18px;">thumb_up</i>{{ sighting.num_likes }}
							{% endif %}
							{% if sighting.num_comments > 0 %}
								<i class="material-icons" style="margin-left:2px;vertical-align:middle;font-size:18px;">comment</i>{{ sighting.num_comments }}
							{% endif %}
							</span>
							
							</div>
							
							<hr>
							<div class="sighting-grid-species-tag">
								<i class="material-icons">local_offer</i> <span style="color:inherit">{{sighting.species_tag}}</span>
							</div>
						</div>
					</div>
				{% else %}
					{% for image in sighting.images %}
						{% if forloop.counter == 1 %}
							<div class="image image-block-m" style="background: url({{ image.thumbnail_url }}) no-repeat center;background-size:cover;">
								<div class="sighting-grid-image-description">
									<div class="sighting-grid-caption">{{ sighting.caption }}
									
									<span style="position:absolute;right:0;top:5px;align-text:center; padding:5px;">
									{% if sighting.images.count > 0 %}
										<i class="material-icons" style="vertical-align:middle;font-size:18px;">photo_album</i>{{ sighting.images.count }}
									{% endif %}
									{% if sighting.num_likes > 0 %}
										<i class="material-icons" style="margin-left:2px;vertical-align:middle;font-size:18px;">thumb_up</i>{{ sighting.num_likes }}
									{% endif %}
									{% if sighting.num_comments > 0 %}
										<i class="material-icons" style="margin-left:2px;vertical-align:middle;font-size:18px;">comment</i>{{ sighting.num_comments }}
									{% endif %}
									</span>
									
									</div>
									
									<hr>
									<div class="sighting-grid-species-tag">
										<i class="material-icons">local_offer</i> <span style="color:inherit">{{sighting.species_tag}}</span>
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			</a>
			{% if sighting.images.count == 0 %}
			<div style="font-weight:600;" class="mdl-card__supporting-text">
				
				<div style="float:left">{{ sighting.time_diff }}</div>

				<div style="float:right">
				{% if sighting.num_likes  == 0 %}
					
				{% else %}
					<i class="material-icons">thumb_up</i>{{ sighting.num_likes }}
				{% endif %}
				{% if sighting.num_comments  == 0 %}
					
				{% else %}
					<i class="material-icons">comment</i> {{ sighting.num_comments }}
				{% endif %}
				</div>	
			</div>	
			{% else %}
			<div style="padding-top: 13px; padding-bottom: 13px; font-weight:600;" class="mdl-card__supporting-text">
				
<!--					<div>-->
<!--						<div style="float:right">-->
<!--							{% if sighting.images.count > 0 %}-->
<!--								<i class="material-icons">photo_album</i>{{ sighting.images.count }}-->
<!--							{% endif %}-->
<!--							{% if sighting.num_likes > 0 %}-->
<!--								<i class="material-icons">thumb_up</i>{{ sighting.num_likes }}-->
<!--							{% endif %}-->
<!--							{% if sighting.num_comments > 0 %}-->
<!--								<i class="material-icons">comment</i>{{ sighting.num_comments }}-->
<!--							{% endif %}-->
<!--						</div>-->
<!--					</div>-->
				<div>{{ sighting.location }}</div>
				<div>{{ sighting.time_diff }}</div>


			</div>	
			{% endif %}
		</div>
	{% endfor %}
		
{% else %}
	<div class="mdl-components__warning">
		<b>Note:</b> No sightings are available.
	</div>
{% endif %}
</div>
{% endblock %}
