{% for suggestion in species_suggestions %}
	<div>
		{{ suggestion.species }}
		<span id="{{ suggestion.species.id }}_num_votes">
			{{ suggestion.num_votes }}
		</span>
		{% if user.is_authenticated %}
			{% if suggestion.is_voted > 0 %}
				<button data-species_tag-id="{{ suggestion.species.id }}" class="up_vote_species mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" style="display:none">
					<i class="material-icons md-light">expand_less</i>
				</button>
				<button data-species_tag-id="{{ suggestion.species.id }}" class="down_vote_species mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
					<i class="material-icons md-light">expand_more</i>
				</button>
			{% else %}
				<button data-species_tag-id="{{ suggestion.species.id }}" class="up_vote_species mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
					<i class="material-icons md-light">expand_less</i>
				</button>
				<button data-species_tag-id="{{ suggestion.species.id }}" class="down_vote_species mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" style="display:none">
					<i class="material-icons md-light">expand_more</i>
				</button>
			{% endif %}
			<div class="mdl-tooltip" for="up_vote_species">
				agree
			</div>
			<div class="mdl-tooltip" for="down_vote_species">
				undo agree
			</div>
		{% endif %}
	</div>

{% endfor %}