{% for suggestion in species_suggestions %}

	<li class="mdl-list__item tag-container">
		<span class="mdl-list__item-primary-content">
			<a href="https://en.wikipedia.org/wiki/Special:Search?search={{ suggestion.species }}" target="_blank" style="text-decoration: none;">
				{{ suggestion.species }}
			</a>
		</span>
		<span class="mdl-list__item-primary-content">
			<i class="material-icons">check</i>
			<span id="{{ suggestion.species.id }}_num_votes">
				{{ suggestion.num_votes }}
			</span>
		</span>
		<span class="mdl-list__item-secondary-action">
			<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="check_{{ suggestion.species.id }}">
				<input
					data-species_tag-id="{{ suggestion.species.id }}"
					type="checkbox"
					id="check_{{ suggestion.species.id }}"
					class="
						vote_species mdl-checkbox__input 
						{% if suggestion.sighting.user_id == user.id %}
							accept-species-suggestion
						{% endif %}"
					data-suggestion-id="{{ suggestion.id }}"
					{% if suggestion.is_voted %}
						checked
					{% endif %} />
				<span class="mdl-checkbox__label">Agree</span>
			</label>
			
		</span>
	</li>


{% endfor %}
