{% extends 'birds/base.html' %}

{% block content %}
<div id="avatar_container">
{% if user.avatar %}
	<img src="{{ user.avatar.avatar.url }}">
{% endif %}
</div>
<div id="add_avatar_button" class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
	<i class="material-icons">add_a_photo</i>
</div>
<input id="avatar_photo" type="file" style="display:none">

<script type="text/javascript">

jQuery(function($){

	$('#add_avatar_button').click(function(){
		$('#avatar_photo').trigger('click');
	});
	
	$('#avatar_photo').change(function(){
		formdata = new FormData();
		var file = this.files[0];
		if (formdata) {
			formdata.append("avatar_photo", file);
			formdata.append("csrfmiddlewaretoken", "{{ csrf_token }}");
			$.ajax({
				url: "{% url 'birds:add_avatar' %}",
				data: formdata,
				type: "POST",
				dataType: "json",
				processData: false,
				contentType: false,
				success: function(data) {
					if (data.msg == "success"){
						$('#avatar_container').html('<img src="' + data.url + '">');
					}
				},
				error: function(jqXHR, textStatus, errorThrown){
					alert(textStatus);
				}
			});
		}
	})

});


</script>

{% endblock %}
