{% extends 'birds/base.html' %}

{% block desc_title %}
<title>{{ this_user.username }} @ The Birding Book</title>
<meta name="description" content="{{ this_user.username }} has identified {{ user_stats.species_count_ytd }} species this year, and logged {{ user_stats.sighting_count }} sightings overall.  {% if user_stats.helper_species_count > 0 %} This birder has helped ID {{ user_stats.helper_species_count }} birds for others.{% endif %}  Come check out all their birds a The Birding Book.">

<meta property="og:url"                content="www.thebirdingbook.com/user/{{ this_user.id }}/" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="{{ this_user.username }} @ The Birding Book" />
<meta property="og:description"        content="{{ this_user.username }} has identified {{ user_stats.species_count_ytd }} species this year, and logged {{ user_stats.sighting_count }} sightings overall.  {% if user_stats.helper_species_count > 0 %} This birder has helped ID {{ user_stats.helper_species_count }} birds for others.{% endif %}  Come check out all the birds at The Birding Book." />
<meta property="og:image"              content="{{ preview_url }}" />

{% endblock %}

{% block content %}
<section class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col mdl-card">
		<div class="mdl-card__title" id="faq">
			<h2 class="mdl-card__title-text capitalize">{{ this_user.username }}</h2>
			{% if user == this_user %}
			<div id="edit_username_button" class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
				<div id="edit_username_id" class="mdl-tooltip--right material-icons">edit</div>
				<div class="mdl-tooltip mdl-tooltip--right" for="edit_username_id">
					Edit Username
				</div>
			</div>
			{% endif %}
		</div>
		
		<div class="mdl-card__supporting-text">
			<div class="mdl-grid">
				<div id="avatar_card" class="mdl-card mdl-cell mdl-cell--4-col" style="height:256px;width:256px;background: url({{ this_user.avatar.thumbnail_url }}) center / cover">
					{% if user == this_user %}
					<div id="add_avatar_button" class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
						<div id="photo" class="mdl-tooltip--right material-icons">add_a_photo</div>
						<div class="mdl-tooltip mdl-tooltip--right" for="photo">
							Add/Replace Avatar
						</div>
					</div>
					<div id="photo_load_spinner" class="mdl-spinner mdl-js-spinner"></div>
					<span id="photo_load_text"></span>
				
					<input id="avatar_photo" name="file" type="file" style="display:none">
					{% endif %}
				</div>
				<div class="mdl-cell--4-col mdl-cell mdl-cell--8-col-desktop">
					<span class="mdl-chip mdl-chip--contact badge-chips">
						<span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">{{ user_stats.sighting_count }}</span>
						<span class="mdl-chip__text">Sightings</span>
					</span>
					<span class="mdl-chip mdl-chip--contact badge-chips">
						<span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">{{ user_stats.species_count }}</span>
						<span class="mdl-chip__text">Species</span>
					</span>
					<span class="mdl-chip mdl-chip--contact badge-chips">
						<span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">{{ user_stats.species_count_ytd }}</span>
						<span class="mdl-chip__text">Big Year</span>
					</span>
					<span class="mdl-chip mdl-chip--contact badge-chips">
						<span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">{{ user_stats.helper_species_count }}</span>
						<span class="mdl-chip__text">Accepted Species Suggestions</span>
					</span>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="mdl-grid" id="sighting_grid_wrapper">
</div>


<script type="text/javascript">
var loading_files = 0;

jQuery(function($){

	{% if user == this_user %}

	$('#edit_username_id').click(function(){
		window.location = "{% url 'birds:setusername' %}"
	});

	$('#add_avatar_button').click(function(){
		$('#avatar_photo').trigger('click');
	});
	
	$('#avatar_photo').change(function(){
		formdata = new FormData();
		var file = this.files[0];
		if (formdata) {
			
			if (!file.type.includes("image")) {
				alert("this is not an image file.  Please upload only images.");
				return;
			}
			//ResizeFile(file);
			getSignedRequest(this);
			loading_files += 1;
			$('#photo_load_spinner').addClass('is-active');
			$('#photo_load_text').text(loading_files+" files loading.  Please wait.");
			
		}
	})
	
	/*
	Avatar Upload with Resize
	*/
	function getSignedRequest(file){
		$.ajax({
			url: "{% url 'birds:add_avatar' %}",
			data: {
				'csrfmiddlewaretoken': "{{ csrf_token }}"
			},
			type: "POST",
			dataType: "json",
			success: function(response){
				uploadFile(file, response.data, response.url, response.filename, response.thumbnail_url);
			},
			error: function(jqXHR, textStatus, errorThrown){
				alert("Could not get signed URL.");
			}
		});
	}
	
	function uploadFile(file, s3Data, url, filename, thumbnail_url){
		var myForm = document.createElement('form');
		for(key in s3Data.fields){
			var this_input = document.createElement('input');
			this_input.setAttribute('name',key);
			this_input.setAttribute('value',s3Data.fields[key]);
			myForm.appendChild(this_input);
		}
		
		myForm.appendChild(file);
		
		postData = new FormData(myForm);
	
		var xhr = new XMLHttpRequest();
		xhr.open("POST", s3Data.url);

		xhr.onreadystatechange = function() {
			if(xhr.readyState === 4){
				if(xhr.status === 200 || xhr.status === 204){
					show_this_thumbnail(thumbnail_url)
				}else{
					alert("Could not upload file. "+xhr.responseText);
				}
			}
		};
		xhr.send(postData);
	}
	
	function show_this_thumbnail(thumbnail_url) {
		urlExists(thumbnail_url, function(exists){
			if ( exists ) {
				$('#avatar_card').css('background','url(' + thumbnail_url + ') center / cover');

				loading_files -= 1;
				if ( loading_files == 0 ) {
					$('#photo_load_spinner').removeClass('is-active');
					$('#photo_load_text').text("");
				}else{
					$('#photo_load_text').text(loading_files+" files loading.  Please wait.");
				}
			}else{
				setTimeout(function(){
					show_this_thumbnail(thumbnail_url)
				}, 1000);
			}
		});
	}
	
	function urlExists(url, callback){
		$.ajax({
			type: 'GET',
			url: url,
			success: function(){
				callback(true);
			},
			error: function() {
				callback(false);
			}
		});
	}
	
	{% endif %}

	function need_more() {
		
		if ( $('main').scrollTop() + $('main').height() >= $('#sighting_grid_wrapper').parent().height() ){
			return true;
		}else{
			return false;
		}
	}

	function load_sighting(page){
		data = {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
			'user': '{{ this_user.id }}'
		}
		
		if ( page > -1 ) {
			data['page'] = page
		}

		$.ajax({
			url: "{% url 'birds:sightings_search' %}",
			data: data,
			type: "POST",
			dataType: "json",
			success: function(data) {
				$('#sighting_grid_wrapper').append(data['html']);
				if ( data['next_page'] != "done" ) {
					if ( need_more() ) {
						load_sighting(data['next_page']);
					}else{
						$('main').unbind('scroll').scroll(function(){
							if ( need_more() ){
								$('main').unbind('scroll');
								load_sighting(data['next_page']);
							}
						});
					}
				}
			},
			error: function(jqXHR, textStatus, errorThrown){
				alert(textStatus);
			}
		});
	}
	
	load_sighting();
	
});

</script>

{% endblock %}
