{% extends 'birds/base.html' %}

{% block content %}
<section class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col mdl-card">
		<div class="mdl-card__title" id="faq">
			<h2 class="mdl-card__title-text capitalize">{{ this_user.username }}</h2>
			{% if user == this_user %}
			<div id="edit_username_button" class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
				<div id="edit_username_id" class="mdl-tooltip--right material-icons">edit</div>
				<div class="mdl-tooltip mdl-tooltip--right" for="edit_username_id">
					Edit Username
				</div>
			</div>
			{% endif %}
		</div>
		<div class="mdl-card__supporting-text">
			<span class="mdl-chip mdl-chip--contact badge-chips">
				<span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">{{ user_stats.sighting_count }}</span>
				<span class="mdl-chip__text">Sightings</span>
			</span>
			<span class="mdl-chip mdl-chip--contact badge-chips">
				<span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">{{ user_stats.species_count }}</span>
				<span class="mdl-chip__text">Species</span>
			</span>
			<span class="mdl-chip mdl-chip--contact badge-chips">
				<span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">{{ user_stats.species_count_ytd }}</span>
				<span class="mdl-chip__text">Big Year</span>
			</span>
			<span class="mdl-chip mdl-chip--contact badge-chips">
				<span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">{{ user_stats.helper_species_count }}</span>
				<span class="mdl-chip__text">Accepted Species Suggestions</span>
			</span>
		</div>
		<div class="mdl-card__supporting-text">
			<div id="avatar_container">
			{% if this_user.avatar %}
				<img src="{{ this_user.avatar.avatar.url }}">
			{% endif %}
			</div>
			{% if user == this_user %}
			<div id="add_avatar_button" class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
				<div id="photo" class="mdl-tooltip--right material-icons">add_a_photo</div>
				<div class="mdl-tooltip mdl-tooltip--right" for="photo">
					Add/Replace Avatar
				</div>
			</div>
			<div id="photo_load_spinner" class="mdl-spinner mdl-js-spinner"></div>
			<span id="photo_load_text"></span>
		
			<input id="avatar_photo" type="file" style="display:none">
			{% endif %}
		</div>
	</div>
</section>
<div class="mdl-grid" id="sighting_grid_wrapper">
</div>


<script type="text/javascript">
var loading_files = 0;

jQuery(function($){

	{% if user == this_user %}

	$('#edit_username_id').click(function(){
		window.location = "{% url 'birds:setusername' %}"
	});


	$('#add_avatar_button').click(function(){
		$('#avatar_photo').trigger('click');
	});
	
	$('#avatar_photo').change(function(){
		formdata = new FormData();
		var file = this.files[0];
		if (formdata) {
			
			if (!file.type.includes("image")) {
				alert("this is not an image file.  Please upload only images.");
				return;
			}
			ResizeFile(file);
			loading_files += 1;
			$('#photo_load_spinner').addClass('is-active');
			$('#photo_load_text').text(loading_files+" files loading.  Please wait.");
			
		}
	})
	
	/*
	Avatar Upload with Resize
	*/
	function getSignedRequest(data_url){
		$.ajax({
			url: "{% url 'birds:add_avatar' %}",
			data: {
				'csrfmiddlewaretoken': "{{ csrf_token }}"
			},
			type: "POST",
			dataType: "json",
			success: function(response){
				uploadFile(data_url, response.data, response.url, response.filename);
			},
			error: function(jqXHR, textStatus, errorThrown){
				alert("Could not get signed URL.");
			}
		});
	}
	
	function uploadFile(data_url, s3Data, url, filename){
		var xhr = new XMLHttpRequest();
		xhr.open("POST", s3Data.url);

		var postData = new FormData();
		for(key in s3Data.fields){
			postData.append(key, s3Data.fields[key]);
		}
		
		var blobData = dataURItoBlob(data_url);
		
		postData.append('file', new File([blobData], filename));

		xhr.onreadystatechange = function() {
			if(xhr.readyState === 4){
				if(xhr.status === 200 || xhr.status === 204){
					$('#avatar_container').html('<img crossorigin="anonymous" src="' + url + '">');

					loading_files -= 1;
					if ( loading_files == 0 ) {
						$('#photo_load_spinner').removeClass('is-active');
						$('#photo_load_text').text("");
					}else{
						$('#photo_load_text').text(loading_files+" files loading.  Please wait.");
					}
				}else{
					alert("Could not upload file. "+xhr.responseText);
				}
			}
		};
		xhr.send(postData);
	}
	   
	function ResizeFile(raw_file) {
		
		var reader = new FileReader();
		reader.onload = function(e) {
			var img = document.createElement("img");
			img.src = e.target.result;
			
			var canvas = document.createElement('canvas');

			var ctx = canvas.getContext("2d");
			ctx.drawImage(img, 0, 0);

			var MAX = 200;
			var width = img.width;
			var height = img.height;

			if (width > height) {
			  if (width > MAX) {
				height *= MAX / width;
				width = MAX;
			  }
			} else {
			  if (height > MAX) {
				width *= MAX / height;
				height = MAX;
			  }
			}
			canvas.width = width;
			canvas.height = height;
			var ctx = canvas.getContext("2d");
			ctx.drawImage(img, 0, 0, width, height);

			var dataurl = canvas.toDataURL("image/png");
			
			getSignedRequest(dataurl);
		}
		reader.readAsDataURL(raw_file);

	}
	
	function dataURItoBlob(dataURI) {
		var binary = atob(dataURI.split(',')[1]);
		var array = [];
		for(var i = 0; i < binary.length; i++) {
			array.push(binary.charCodeAt(i));
		}
		return new Blob([new Uint8Array(array)], {type: 'image/png'});
	}
	
	{% endif %}

	function need_more() {
		
		if ( $('main').scrollTop() + $('main').height() >= $('#sighting_grid_wrapper').parent().height() ){
			return true;
		}else{
			return false;
		}
	}

	function load_sighting(page){
		data = {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
			'user': '{{ this_user.id }}'
		}
		
		if ( page > -1 ) {
			data['page'] = page
		}

		$.ajax({
			url: "{% url 'birds:sightings_search' %}",
			data: data,
			type: "POST",
			dataType: "json",
			success: function(data) {
				$('#sighting_grid_wrapper').append(data['html']);
				if ( data['next_page'] != "done" ) {
					if ( need_more() ) {
						load_sighting(data['next_page']);
					}else{
						$('main').unbind('scroll').scroll(function(){
							if ( need_more() ){
								load_sighting(data['next_page']);
							}
						});
					}
				}
			},
			error: function(jqXHR, textStatus, errorThrown){
				alert(textStatus);
			}
		});
	}
	
	load_sighting();
	
});

</script>

{% endblock %}
