{% extends 'birds/base.html' %}



{% block content %}

{% if error_message %}
	<div class="mdl-components__warning">
		<b>Note:</b> {{ error_message }}
	</div>
{% endif %}

<div class="mdl-grid" id="view-sighting-main-grid">
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="image image-block-m sighting-page" style="background: url({{ sighting.image.url }}) no-repeat center;background-size:cover;">
            <h4>
                <span>{{ sighting.caption }}</span>
            </h4>
        </div>
        <div class="mdl-card__menu md-light">
			{% if user.is_authenticated %}
				<div id="num_likes">
					{{ sighting.num_likes }}
				</div>
				{% if is_liked > 0 %}
				<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect index-card-buttons" id="unlike_button">
				  <i class="material-icons md-light">star</i>
				</button>
				<button style="display:none" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect index-card-buttons" id="like_button">
				  <i class="material-icons md-light">star_border</i>
				</button>
				{% else %}
				<button style="display:none" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect index-card-buttons" id="unlike_button">
				  <i class="material-icons md-light">star</i>
				</button>
				<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect index-card-buttons" id="like_button">
				  <i class="material-icons md-light">star_border</i>
				</button>
				{% endif %}
				
				<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect index-card-buttons">
				  <i class="material-icons md-light">flag</i>			      
				</button>
				{% if sighting.user_id == user.id %}
				<button id="edit_button" class="mdl-button md-light mdl-button--icon mdl-js-button mdl-js-ripple-effect index-card-buttons">
					<i class="material-icons md-light">mode_edit</i>
				</button>
				{% endif %}
			{% endif %}
        </div>
    </div>
	
    <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{ sighting.sighting_date }}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <i class="material-icons">local_offer</i><b> {{ sighting.species_tags }}</b>

        </div>
        <div class="mdl-card__supporting-text">
            {{ sighting.post_text }}
        </div>
    </div>
	<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone demo-card-wide mdl-card mdl-shadow--2dp">
        <div id="map"></div>
    </div>
	<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet demo-card-wide mdl-card mdl-shadow--2dp">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">Comments</h2>
		</div>
        <div class="mdl-card__supporting-text comments-chain" id="existing_comments"></div>
		{% if user.is_authenticated %}
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="reveal-comments">Comment</button>
		<div class="mdl-card__actions mdl-card--border" id="save-comment-block" style="display:none">
			<form id="new_comment_form">
				<div style="width:100%" class="mdl-textfield mdl-js-textfield">
					<textarea style="width:100%" class="mdl-textfield__input" type="text" rows= "3" name="new_comment" id="new_comment_input" ></textarea>
					<label class="mdl-textfield__label" for="comment">New comment...</label>
				</div>
				{% csrf_token %}
				<input name="sighting_id" value="{{ sighting.id }}" type="hidden"></input>
			</form>
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="new_comment_save_button">Post</button>
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="new_comment_cancel_button">Cancel</button>
		</div>
		{% endif %}
	</div>
	
	
</div>       

<script type="text/javascript">
    jQuery(function($){
        $('#edit_button').click(function(){
			window.location = "{% url 'birds:edit_sighting' sighting.id %}";
		})
		
		var pos = { lat: {{ sighting.lat|default:0 }}, lng: {{ sighting.lng|default:0 }} }
        var map = new google.maps.Map(document.getElementById('map'), { zoom: 10, center: pos })
		var marker = new google.maps.Marker({
            position: pos, icon: {
                path: google.maps.SymbolPath.CIRCLE,
                scale: 5
            },
            draggable: false,
            map: map
        })
		
		function load_comments() {
			$.ajax({
				url: "{% url 'birds:get_comments' %}",
				data: {'this_sighting': {{ sighting.id }}, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
				type: "POST",
				dataType: "html",
				success: function(data) {
					$("#existing_comments").html(data);
				}
			});
		}
		
		load_comments();
		
		{% if user.is_authenticated %}
		$('#reveal-comments').click(function(){
			$('#save-comment-block').slideToggle("slow");
			$(this).slideToggle("fast");
		});
		
		$('#new_comment_cancel_button').click(function(){
			$('#save-comment-block').slideToggle("fast");
			$('#reveal-comments').slideToggle("slow");
		});
		
		$('#new_comment_save_button').click(function(){
			$.ajax({
				url: "{% url 'birds:new_comment' %}",
				data: $('#new_comment_form').serialize(),
				type: "POST",
				dataType: "json",
				success: function(data) {
					load_comments();
					$('#new_comment_input').val("");
					$('#new_comment_input').parent().removeClass('is-dirty');
				},
				error: function(jqXHR, textStatus, errorThrown){
					alert(textStatus);
				}
			});
		
		});
		
		$('#like_button').click(function(){
			$.ajax({
				url: "{% url 'birds:like' %}",
				data: {'sighting_id': {{ sighting.id }}, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
				type: "POST",
				dataType: "json",
				success: function(data) {
					$('#like_button,#unlike_button').toggle();
					if ( 'new_likes' in data ){
						$('#num_likes').text(data.new_likes);
					}
				},
				error: function(jqXHR, textStatus, errorThrown){
					alert(textStatus);
				}
			});
		});
		
		$('#unlike_button').click(function(){
			$.ajax({
				url: "{% url 'birds:unlike' %}",
				data: {'sighting_id': {{ sighting.id }}, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
				type: "POST",
				dataType: "json",
				success: function(data) {
					$('#like_button,#unlike_button').toggle();
					if ( 'new_likes' in data ){
						$('#num_likes').text(data.new_likes);
					}
				},
				error: function(jqXHR, textStatus, errorThrown){
					alert(textStatus);
				}
			});
		});
		{% endif %}
		
    })
</script>

{% endblock %}
