{% extends 'birds/base.html' %}



{% block content %}

{% if error_message %}
	<div class="mdl-components__warning">
		<b>Note:</b> {{ error_message }}
	</div>
{% endif %}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="image image-block-m sighting-page" style="background: url({{ sighting.image.url }}) no-repeat center;background-size:cover;">
            <h4>
                <span>{{ sighting.caption }}</span>
            </h4>
        </div>
        <div class="mdl-card__menu md-light">
			{% if sighting.user_id == user.id %}
            <button id="edit_button" class="mdl-button md-light mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons md-light">mode_edit</i>
            </button>
			{% endif %}
        </div>	
    </div> 
    <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone demo-card-wide mdl-card mdl-shadow--2dp">
        <div id="map"></div>
    </div>
    <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{ sighting.sighting_date }}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <b><i class="material-icons">label_outline</i> {{ sighting.species_tags }}</b>

        </div>
        <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Mauris sagittis pellentesque lacus eleifend lacinia...
        </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Comments</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Mauris sagittis pellentesque lacus eleifend lacinia...
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <!--<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              New Comment
            </a>-->
			<form action="#">
				<div style="width:99%" class="mdl-textfield mdl-js-textfield">
					<textarea style="width:100%" class="mdl-textfield__input" type="text" rows= "3" id="comment" ></textarea>
					<label class="mdl-textfield__label" for="comment">New comment...</label>
				</div>
				<input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="save_button" type="submit" value="Save" />
			</form>
        </div>
    </div>
</div>       

<script type="text/javascript">
    jQuery(function($){
        $('#edit_button').click(function(){
			window.location = "{% url 'birds:edit_sighting' sighting.id %}";
		})
		
		var pos = { lat: {{ sighting.lat|default:0 }}, lng: {{ sighting.lng|default:0 }} }
        var map = new google.maps.Map(document.getElementById('map'), { zoom: 10, center: pos })
		var marker = new google.maps.Marker({
            position: pos, icon: {
                path: google.maps.SymbolPath.CIRCLE,
                scale: 5
            },
            draggable: false,
            map: map
        })
		
		
    })
</script>

{% endblock %}
